[buildout]
parts = eggs
extensions = mr.developer
auto-checkout = *

develop = .

[eggs]
recipe = zc.recipe.egg
eggs = fragile
interpreter = py
scripts = py fragile fragile-persist

[sources]
bootstrap = git git://github.com/twitter/bootstrap.git egg=false