<div class="form-left-col">
    <label>Id:</label>
    <input name="_id" type="text" value="<%= _id %>" disabled />

    <label>Title:</label>
    <input type="text" name="title" value="<%= title %>" />

    <label>Summary:</label>
    <input type="text" name="summary" value="<%= summary %>" required/>

    <label>Owner:</label>
    <input type="text" name="owner" value="<%= owner %>"/>

    <label>State:</label>
    <input type="text" name="state" value="<%= state %>"/>

    <label>Points:</label>
    <input type="text" name="points" value="<%= points %>" />

    <button class="delete">Delete</button>
</div>
