* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
body {
  color: #999;
}
#header {
  padding-top: 5px;
}
#sidebar {
  width: 300px;
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  float: right;
}
#content {
  margin-right: 320px;
}
.content {
  padding: 1em;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}
input, textarea {
  border: 1px solid #ccc;
  min-height: 30px;
  outline: none;
}
.form-left-col input {
  margin-bottom: 15px;
  margin-top: 5px;
  width: 280px;
}
textarea {
  margin-bottom: 15px;
  margin-top: 5px;
  height: 200px;
  width: 250px;
}
label {
  display: block;
}
button {
  padding: 6px;
}
/* Stories */
.stories {
  padding-left: 50px;
}
.story {
  position: relative;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-top-color: #999;
  border-top-width: 6px;
  border-top-style: solid;
  padding: 5px 130px 10px 130px;
  margin-bottom: 1em;
  background: #f8f8f8;
}
.story.selected {
  background: #fff;
}
.story.state-idea {
  border-top-color: #cccccc;
}
.story.state-defined {
  border-top-color: #666666;
}
.story.state-accepted {
  border-top-color: #58a44b;
}
.story.state-completed {
  border-top-color: #bf911a;
}
.story.state-scope {
  border-top-color: #9b407e;
}
.story.state-progress {
  border-top-color: #4e6cad;
}
.story.state-blocked {
  border-top-color: #990000;
}
.sel-states {
  position: absolute;
  top: -12px;
  left: 0;
  font-size: 11px;
}
.story-active-state {
  padding: 0.3em 0.8em 0.4em 8px;
  border-radius: 4px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: white;
  font-size: 11px;
}
.story-active-state:hover {
  color: white;
}
.sel-states .dropdown-menu {
  border-radius: 4px;
  width: 100px;
}
.sel-states.open .dropdown-menu a {
  padding: 2px 8px;
}
.sel-state-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  color: white;
  font-size: 11px;
}
.sel-states a.sel-idea, .sel-states.open a.sel-idea, .sel-states:hover a.sel-idea {
  background-color: #cccccc;
}
.sel-states a.sel-defined, .sel-states.open a.sel-defined, .sel-states:hover a.sel-defined {
  background-color: #666666;
}
.sel-states a.sel-progress, .sel-states.open a.sel-progress, .sel-states:hover a.sel-progress {
  background-color: #4e6cad;
}
.sel-states a.sel-completed, .sel-states.open a.sel-completed, .sel-states:hover a.sel-completed {
  background-color: #bf911a;
}
.sel-states a.sel-scope, .sel-states.open a.sel-scope, .sel-states:hover a.sel-scope {
  background-color: #9b407e;
}
.sel-states a.sel-accepted, .sel-states.open a.sel-accepted, .sel-states:hover a.sel-accepted {
  background-color: #58a44b;
}
.sel-states a.sel-blocked, .sel-states.open a.sel-blocked, .sel-states:hover a.sel-blocked {
  background-color: #990000;
}
.story-active-state .sel-state-color {
  width: 12px;
  height: 12px;
  display: none;
}
.sel-idea .sel-state-color {
  background-color: #cccccc;
}
.sel-defined .sel-state-color {
  background-color: #666666;
}
.sel-progress .sel-state-color {
  background-color: #4e6cad;
}
.sel-completed .sel-state-color {
  background-color: #bf911a;
}
.sel-scope .sel-state-color {
  background-color: #9b407e;
}
.sel-accepted .sel-state-color {
  background-color: #58a44b;
}
.sel-blocked .sel-state-color {
  background-color: #990000;
}
.story-detail {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0 0 15px;
  width: 120px;
}
.story-summary {
  color: #2c99ac;
  font-size: 1.05em;
  line-height: 1.5em;
}
.story-nums {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 120px;
  text-align: right;
}
.story-points {
  background-color: #A7A7A7;
  color: #fff;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  width: 40px;
  line-height: 1.8em;
}
