@grey: #999;
@darkGrey:                  #333;
@blue: #2C99AC;
@lightGrey:                 #d8d8d8;

@ideaColor:                 #ccc;
@definedColor:              #666;
@progressColor:             #4E6CAD;
@scopeColor:                #9B407E;
@completedColor:            #BF911A;
@acceptedColor:             #58A44B;

@blockedColor:              #990000;


* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
body {
    color: #999;
}

#header {
    
}


.subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020;
    border-color: #D5D5D5;
    border-width: 0 0 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
}
#header .brand {
    float: right;
}
#header {
    .navbar .nav > li > a {
        padding-left: 2em;
        padding-right: 2em;
    }
}

#sidebar {
    width: 300px;
    background: white;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    
    float: right;
}

#content {
    margin-right: 320px;
    margin-top: 3em;
}

.content {
    padding: 1em;
}

.form-left-col {

}

.form-right-col {
}

.title {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

.form-left-col input {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 280px;
}

label {
    display: block;
}

button {
    padding: 6px;
}

/* Stories */

.stories {
    margin-left: 150px;
    position: relative;
}

.add-story-quick {
    margin-bottom: 1em;
}

.add-story-quick-input {
    clear: both;
    width: 98%;
}

.story {
    position: relative;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    border-top-color: #999;
    border-top-width: 6px;
    border-top-style: solid;
    padding: 5px 130px 10px 130px;
    margin-bottom: 1em;
    background: #f8f8f8;
}

.story-flying {
    position: absolute;
    width: 98%;
    box-shadow: 0px 0px 10px rgba(44,153,172, 0.8);
}
.story.selected {
 
    background: #fff;
}
.story.state-idea {
    border-top-color: @ideaColor;
}
.story.state-defined {
    border-top-color: @definedColor;
}
.story.state-accepted {
    border-top-color: @acceptedColor;
}
.story.state-completed {
    border-top-color: @completedColor;
}
.story.state-scope {
    border-top-color: @scopeColor;
}
.story.state-progress {
    border-top-color: @progressColor;
}
.story.state-blocked {
    border-top-color: @blockedColor;
}
.sel-states {
    float: left;
    margin-left: -15px;
    margin-top: -16px;
    font-size: 11px;
}

.story-active-state {
    padding: 0.3em 0.8em 0.4em 8px;

    border-radius: 4px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: white;
    font-size: 11px;
}
.story-active-state:hover {
    color: white;
}

.sel-states .dropdown-menu {
    border-radius: 4px;
    width: 100px;
}
.sel-states.open .dropdown-menu {
    
}
.sel-states.open .dropdown-menu a {
    padding:2px 8px;
}
.sel-state-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    color: white;
    font-size: 11px;
}
.sel-states,
.sel-states.open,
.sel-states:hover {
    a.sel-idea {
        background-color: @ideaColor;
    }
    a.sel-defined {
        background-color: @definedColor;
    }
    a.sel-progress {
        background-color: @progressColor;
    }
    a.sel-completed {
        background-color: @completedColor;
    }
    a.sel-scope {
        background-color: @scopeColor;
    }
    a.sel-accepted {
        background-color: @acceptedColor;
    }
    a.sel-blocked {
        background-color: @blockedColor;
    }
}
.story-active-state .sel-state-color {
    width: 12px;
    height: 12px;
    display: none;
}
.sel-idea .sel-state-color {
    background-color: @ideaColor;
}
.sel-defined .sel-state-color {
    background-color: @definedColor;
}
.sel-progress .sel-state-color {
    background-color: @progressColor;
}
.sel-completed .sel-state-color {
    background-color: @completedColor;
}
.sel-scope .sel-state-color {
    background-color: @scopeColor;
}
.sel-accepted .sel-state-color {
    background-color: @acceptedColor;
}
.sel-blocked .sel-state-color {
    background-color: @blockedColor;
}

.story-detail {
    float: left;
    padding: 5px 0 0 15px; 
    margin-left: -130px;
    width: 120px;
}

.story-summary {
    color: @blue;
    font-size: 1.05em;
    line-height: 1.5em;
}

.story-nums {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 120px;
    text-align: right;
}
.story-points {
    background-color: #b5b5b5;
    color: #fff;
    border-radius: 5px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
}